@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
/* media screen size blah blah... */

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
/* Normal settings */

html {
	height: 100%;
}

body {
	color: #444;
	margin: 0px;
}

h1, h2 {
	font-family: sans-serif;
}

p, ul, ol, li, dd, dl, dt {
	font-family: 'Merriweather', sans-serif;
	font-size: 16px;
	line-height: 190%;
}

li {
	margin-bottom: 1em;
}

pre {
	font-family: "Source Code Pro", "Courier New", "Courier";
	font-size: 14px;
	overflow-x: auto;
}

pre.prettyprint {
	white-space: pre !important;
}

table {
	border-collapse: collapse;
	font-family: "Merriweather", sans-serif;
	font-size: 12px;
	margin-left: auto;
	margin-right: auto;
}

thead tr {
	background-color: #a74075;
	color: #fff;
}

tr:nth-child(even) {
	background-color: #ffe0f0
}

td, th {
	border: 0px grey solid;
	padding: 5px;
}

.command {
	font-family: courier;
	white-space: nowrap;
}

#container {
	background: #fefefe;
}

#title {
	text-align: center;
	margin-top: 0px;
	/* Stupid, but might cause #container to not be placed at top of page otherwise */
	margin-bottom: 0px;
	font-size: 40px;
}

#title a {
	text-decoration: none;
	color: #444;
}

#title-container {
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
}

#subtitle {
	display: block;
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
	margin-top: 1em;
}

.tag-container .tag {
	background-color: grey;
	color: white;
	border-radius: 3px;
	padding: 3px 3px 2px 3px;
	margin-right: 5px;
	font-family: "Courier New", courier;
	font-size: 12px;
}

.article-brief {
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
	padding-bottom: 10px;
}

.article-date {
	color: #aaa;
	font-size: 14px;
	font-style: italic;
	display: inline-block;
}

.article-list section p a, .article-list section h2 a {
	color: #444;
	text-decoration: none;
}

.article-list section h2 {
	margin-bottom: 0.5em;
	margin-top: 0.1em;
}

.article-list section p {
	margin-top: 0px;
}

.article-list section {
	border-bottom: #444;
}

article h1 {
	font-size: 30px;
	margin-bottom: 0px;
}

article h2 {
	margin-top: 60px;
}

#article-index {
	font-family: 'Merriweather', sans-serif;
	margin-bottom: -30px;
}
#article-index li {
	margin-bottom: 0.1em;
}

.important-note {
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-left: 20px;
	margin-right: 20px;
	background-color: lightsalmon;
	font-size: larger;
	box-shadow: 5px 5px 5px grey;
}

/* Adapted from https://codepen.io/ibrahimjabbari/pen/ozinB */

hr.nice {
	border: 0px solid #999;
	text-align: center;
	line-height: 0px;
	margin-top: 2em;
	margin-bottom: 2em;
}

hr.nice:after {
	content: '§';
	display: inline-block;
	position: relative;
	padding-top: 19px;
	padding-bottom: 21px;
	background: #fefefe;
	color: #999;
	font-size: 22px;
	font-weight: bold;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}

/* ===== TABS ====== */

.tab-button {
	margin-left: 10px;
	cursor: pointer;
}

@media (max-width: 599px) {
	#container {
		padding: 20px 20px;
	}
	body {
		background-color: #fefefe;
	}
	#about p {
		text-align: left;
	}
	.important-note {
		margin-left: 10px;
		margin-right: 10px;
	}
}

@media (min-width: 600px) and (max-width: 859px) {
	#container {
		padding: 20px 80px;
	}
	body {
		background-color: #fefefe;
	}
	#about p {
		text-align: justify;
	}
}

@media (min-width: 860px) {
	#container {
		width: 700px;
		padding: 20px 80px;
		margin: 0px auto;
	}
	body {
		background: linear-gradient(to top right, lightsalmon, papayawhip);
		background-repeat: none;
		background-attachment: fixed;
		height: 100%;
	}
	#about p {
		text-align: justify;
	}
}